* {
    margin: 0;
    padding: 0;
}

html body {
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #443826;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.container {
    color: #684929;
    width: 100%;
}

.container h1 {
    float: left;
    padding: 15px;
    margin-left: 30px;
    cursor:default;
}
.container h1 a {
    color: #fff;
    text-decoration: none;
}
.container ul li {
    float: right;
    padding: 15px;
    list-style-type: none;
    cursor: pointer;
    margin-top: 8px;
}

.container ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    background-color: #8b6c5c;
    border-radius: 40px;
    font-size: 13px;
    font-weight: 800;
}
.container ul li a:hover {
    padding: 12px;
    background-color: #425F57;
}

button {
    padding: 15px;
    border-radius: 30px;
    margin-left: 180px;
    background-color: #8b6c5c;
    font-family: 'lucida sans unicode';
    font-size: 15px;
    font-weight: 1000;
    margin-top: 30px;
    cursor: pointer;
}

button a {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background-color: #425F57;
}
.container_section {
    width: auto;
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/12/20/1110781930.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
section {
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.image_2 img {
    margin-left: 140px;
    width: 200px;
    height: auto;
    border-radius: 50%;
}

section h1 {
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 80px;
}

section p h4 {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

section p {
    margin-left: 30px;
    font-size: 30px;
}

section h4 {
    margin-left: 170px;
    font-size: 15px;
}
.tentang {
    width: 100%;
    height: 70vh;
}
.container_tentang {
    font-family: 'lucida sans' sans-serif;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
}
.container_tentang h1 p{
    font-family:'times new roman'sans-serif;
    font-weight: 600;
    font-size: 25px;
    flex-wrap: wrap;
}
.container_tentang p {
    font-size: 15px;
    margin: 10px;
    padding-left: 40px;
    padding-right: 20px;
}
.image_12 {
    margin: 40px;
    padding-right: 70px;
}
.image_12 img {
    width: 250px;
}
.container_3 {
    padding-right: 20px;
}
.keterampilan {
    width: 100%;
    height: 50vh;
    margin-top: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(WhatsApp\ Image\ 2022-10-19\ at\ 23.57.49\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 20px;
}

.keterampilan_tools {
    padding-top: 20px;
}

.kolom h1 {
    padding-left: 70px;
    color: #3C4048;
    text-decoration: underline 3px black;
}

.siswa_list {
    margin-top: 30px;
    float: left;
}

.card_siswa {
    margin: 0 auto;
    display: flex;
}

.card_siswa img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.card_siswa p {
    margin-top: 30px;
    float: left;
    padding-left: 30px;
    font-size: 20px;
    width: 50%;
}

.margin {
    margin-top: 40px;
    display: flex;
}

.extraculliculer {
    width: 100%;
    height: 60vh;
    margin-top: 50px;
}

.deskripsi {
    color: black;
    width: 100%;
}

.deskripsi h1 {
    text-align: center;
    margin-right: 150px;
    color: #000;
}

.ukm-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: center;
    padding-right: 100px;
    position: absolute;
    z-index: -1;
}

.kartu-ukm {
    margin: 15px 20px 15px 20px;
    padding-right: 100px;
}

.kartu-ukm img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.kartu-ukm p {
    color: #000;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 800;
}

.study {
    height: 150vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(WhatsApp\ Image\ 2022-10-19\ at\ 23.57.44\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.pendidikan {
    padding: 10px;
}

.pendidikan_deskripsi h1 {
    text-align: center;
    font-family: 'georgia' sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    margin-right: 100px;
}

.pendidikan_list {
    margin-top: 40px;
}

.kuliah_list {
    color: #fff;
    display: flex;
    width: 100%;
}
.kuliah_list img {
    height: 200px;
    margin-left: 70px;
    margin-right: 150px;
}
.kuliah_list p {
    font-family: 'times new roman';
    font-size: 15px;
    font-weight: 400;
    padding:20px;
    padding-top: 50px;
    text-decoration: none;
    padding-left: 100px;
}
#contact {
    background-color: #684929;
    padding: 50px 0px 50px 0px;
}

.wrapper {
    display: flex;
}

.footer {
    display: flex;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
    float: left;
}

.footer-section h3 p {
    float: left;
}

h3 {
    font-family: 'comic sans-ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 10px;
    color: #fff;
    width: 200px;
    line-height: 20px;
}

.footer-section p a {
    margin-left: 30px;
    color: #000;
}

.footer-section p a:hover {
    color: #fff;
}

.footer-section p {
    width: 200px;
}