.jumbotron {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/826/145/190/landscape-lonely-tree-green-field-blues-sky-wallpaper-preview.jpg);
  background-size: cover;
}
#about {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#gallery {
  background-color: #c996cc;
}
#contact {
  background-color: #1c0c5b;
}
footer {
  background-color: #916bbf;
}
