*,html,body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --menu-color: rgb(67, 67, 255);
    --first-color: white;
}


nav {
    height: 10vh;
    width: 100%;
    background-color: var(--first-color);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100%;
    margin-left: 4em;
    margin-right: 4em;
}

.logo {
    display: flex;
    gap: .5em;
    width: auto;
}

.logo img {
    width: 25%;
}

.menu {
    width: 50%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
        color: black;

    padding: 10px;
    border-radius: 10px;
}

.btn-awal {
    padding: 10px;
    background-color: aqua;
    color: orange;
}

.btn-awal:hover {
    background-color: black;
    color: aliceblue;
}

.menu ul li a:hover {
    text-decoration: underline;
    transition: all .5s;
}

.home {
    height: auto;
}

.text {
    background-color: grey ;
    opacity: 3;
    font-size: 20px;

}

.tentang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.visi {
    width: 100%;
    text-align: start;
    padding-left: 4em;
    padding-top: 4em;
}

.des {
    padding: 3em;
}