* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

header {
    width: 100%;
    margin: auto;
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    justify-content: center;

}

.home-buttom a{
    color: antiquewhite;
    margin: 40px;
    border-radius: 50px;
    font-size: 20px;
    border-radius: 10px;
    transition: .3s;
    padding: 10px;
}

.home-buttom:hover {
    background-color:grey ;
    transition: .3s;
}


.foto1 {
    display: flex;
    position: relative;
    width: 80%;
    padding:100px;
    margin-top: 50px;
    padding-top: 100px;
}

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: auto ;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items:center ;
}

.deskripsi p {
    font-weight: 500;
}