* {
    text-decoration: none;
}
body {
    background: -webkit-linear-gradient(bottom,#A5F1E9,#6ECCAF);
}
label {
    font-family: "Raleway",sans-serif;
    font-size: 13px;
}
#forgot-pass{
    color: #fff;
    font-family: "Raleway",sans-serif;
    font-size: 10px;
    margin-top: 3px;
    text-align: right;
}
#card {
    background: #344D67;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0,0.65 );
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
}
#card-content {
    padding: 12px 44px;
}
#card-title {
    font-family: "Raleway",sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}
#signup {
    color: #344D67;
    font-family: "Raleway",sans-serif;
    font-size: 10px;
    margin-top: 16px;
    text-align: center;
}
#submit-btn {
    background: -webkit-linear-gradient(bottom,#009EFF,#00FFF6);
    border-radius: 23px;
    border: none;
    box-shadow: 0px 1px 8px #00FFF6;
    cursor: pointer;
    color: white;
    font-family: "Raleway",sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
}
#submit-btn:hover {
    box-shadow: 0px 1px 18px #fff;
}
.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}
.form-border {
    height: 1px;
    width: 100px;
    background: -webkit-linear-gradient(right,#59C1BD,#A0E4CB);
}
.form-content {
    background:#A0E4CB;
    border: none;
    outline: none;
    padding-top: 14px;
}
.unerline-title {
    background:-webkit-linear-gradient(right,#A0E4CB,#59C1BD);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}